/* html,
body,
.intro {
  height: 100%;
} */

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

thead {
  top: 0;
  position: sticky;
}
img {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
    display: block;
  margin: 0 auto;
}
body {
    font-size: 55px;
}
span{
  
}
.title{
  text-align: center;
}
 .quantity{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  font-size: large;
  margin-top: 40px;
  cursor: pointer;

 }
