<br>
<br>
<br>
<div class="container">
  <!-- <app-product></app-product> -->
  <!-- <div  *ngIf = addedProduct class="alert alert-secondary" role="alert" >
   <strong >  {{addedProduct}} </strong> is selected

  </div> -->

<table>

    <tr  class="list-group-item container" *ngFor="let item of products">
      
      <tbody>
        <td #target>{{item.Id}} </td>
        <td> {{item.Name}}</td>
        <td><img [src]="item.img" alt=""></td>
        <td><button  class="btn btn-primary" (click)="plus(item.Id)">+</button> {{item.quantity}} 
          <button   class="btn btn-primary" (click)="minus(item.Id)">-</button>
        </td>
      </tbody>
      
    </tr>
  </table>
  <br>
  <br>
  <div class="container">
    <div class="container">
      <div class="col-md-1"></div>
      <div class="col-md-10 bg-success text-center py-4 text-white">
        <h2 *ngIf=!productSelected>Select Product</h2>
        <h2 *ngIf=productSelected> Product Selected</h2>
        <a *ngIf=productSelected class="btn btn-primary " (click)='checkout() '> check Out</a>
        <br>
        <br>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>




<!-- +- -->
